
.filter-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 1rem;
    padding: 1rem;
}


.filter-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    color: black; 
    border: none; 
    border-bottom: 1px solid #000000;
    background-color: #F9F9F9;
    border-radius: 1px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.filter-button.active {
    background-color: #c4c2c2;
    transform: scale(1.1);
    transition: background-color 0.3s, transform 0.2s ease-in-out;
    outline: none;
}


#sort-select {
    padding: 10px;
    border-radius: 1px;
    border: none;
    border-bottom: 1px solid black;
    background-color: #F9F9F9;
    cursor: pointer;
}

/* Sort and Price Range */
#price-range, #price-value {
    display: none;
}


#price-value {
    font-weight: bold;
    margin-left: 10px;
    color: #591212;
    
}

.error-message {
    position: relative; 
    padding: 10px 40px 10px 10px; 
}

.error-message::after {
    content: "✖"; 
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #e44d26;
    font-size: 1.2rem;
}


@media (max-width: 768px) {
    .filter-container {
        flex-direction: column;
        align-items: center; 
        padding: 10px; 
    }

    .filter-button {
        width: 100%; 
        margin-bottom: 10px; 
    }
}