:root {
  --page-width: min(1400px, 100% - 2rem);

  --ff-sans: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: inherit;
}

html {
  /* color-scheme: dark light; */
  hanging-punctuation: first last;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100svh;
  font-family: var(--ff-sans);
}

img,
picture,
svg,
video {
  display: block;
  font-style: italic;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p {
  max-width: 75ch;
  text-wrap: pretty;
}

button,
input:is([type="submit"], [type="button"], [type="checkbox"]) {
  color: inherit;
  cursor: pointer;
  letter-spacing: inherit;
}

input[type="number"] {
  appearance: normal;
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

table {
  font-variant-numeric: tabular-nums;
}

/* HERO */

body {
  background-color: #FFFFFF;
}

.hero {
  width: 100%;
  margin-top: -1rem;
}

.hero-img {
  width: 100%;
}


/* HEADER */

header {
  background-color: white;
  position: relative;
  top: 0;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.305);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  margin-bottom: 0.25rem;
  
}

@import url('https://fonts.googleapis.com/css2?family=Arya:wght@400;700&family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poiret+One&display=swap');

.page-title {
  color: black;
  font-size: 1.5rem;
  font-family: 'Bodoni Moda SC', sans-serif;
  font-weight: 600;
  margin-left: 1rem;
}

.page-title a:hover, a:visited, a:link, a:active {
  text-decoration: none;
}

@media (max-width:850px) {
  .page-title {
    font-size: 1.25rem;
  }
}

.shopping-cart-img {
  margin-right: 1rem;
}

.searchbar-container {
  width: 80%;
}

.searchbar {
  border: none;
  border-bottom: 1px solid black;
  background-color: #F9F9F9;
  padding: 0.5rem;
  flex-grow: 1;
  width: 100%;
  outline: none;
}

.searchbar:active, .searchbar:hover {
  background-color: #f2f1f1;
}


/* FOOTER */

footer {
  background-color: white;
  text-align: center;
  padding: 0.5rem;
  width: 100%;
  box-shadow: 1px 1px 1px 1px black;
  position: flow;
  bottom: 0;
}


